*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
	font-size: 100%;
    list-style: none; 
}

header{
    background: rgb(19, 18, 18);
    margin: auto;
}


nav{
    background: #333;
    max-width: 600px;
    margin: auto;    
    
}

.nav ul{
    overflow: hidden;
}

.nav li{
    float: left;
}

.nav a {
    display: block;
    
    text-decoration: none;
    color: white;
    padding: 0.7em 2em;
    font-weight: bold;
}

.nav a:last-child{
    float: right;
}

.nav a:hover {
    background-color: rgb(78, 75, 75);
}
main{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

img{
    max-width: 100%;
}

p{
    margin: 1em;
}